# Local development
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASS=yourpassword
DATABASE_NAME=mlaku_mulu

# Railway (otomatis diisi Railway saat deploy)
DATABASE_URL=

JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES=7d
PORT=3000
